* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Fredoka', sans-serif;
}

img {
  display: block;
}

button {
  display: block;
  font-weight: 500;
  padding: 3%;
  transition: .3s;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

button:disabled {
  background-color: grey !important;
  color: white !important;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: grey !important;
  color: white !important;
}

input, select, textarea {
  height: 35px;
  border-radius: 10px;
  caret-color: #10ad5e;
  font-size: medium;
}