* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Fredoka', sans-serif;
}

img {
  display: block;
}

button {
  padding: 3%;
  transition: .3s;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

input {
  caret-color: #10ad5e;
}